
  .main
{
    width: 100%;
    height: auto;
    background-color: dimgrey;
    margin: auto;
    overflow: hidden;

}
.shadow
{
    background-color:rgba(0,0,0,0.3);
    height: 650px;
    width: 100%;

}
.header
{
    width: 100%;
    height: 650px;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
.logo
{
    width: 200px;
    height: 50px;
    margin-left: 10%;
    float: left;
    display: inline;
    margin-top:10px;
    position: relative;
}
.logo img 
{
    cursor: pointer;
}
.header h2
{
    display: inline;
    position: absolute;
    margin-left: 10px;
    color: white;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top:-5px;
    
    
}

.navbar
{
    float: right;
    margin-right:15%;
    width: 400px;
    height: 50px;
    margin-top: 20px;
}

.navbar ul 
{
    list-style: none;
    padding: 0%;
    margin: 0%;

}
.navbar ul li 
{
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s;
    

}
.navbar ul li:first-child
{
    color: white;
    border: 1px solid orange;
    box-sizing: border-box;
    border-radius: 15%;
    background-color: transparent;
    
}

.navbar ul li:hover
{
    color: orange;
    border: 1px solid orange;
    box-sizing: border-box;
    border-radius: 25%;

}
.section
{
    width: 100%;
    height: 400px;
    background-color: rgb(214, 214, 214);
}
.burger-burn p
{
    float: left;
    clear: both;
    margin-left: 25%;
    margin-top: 50px;
    font-size: 100px;
    width:30%;  
    font-family:Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke-style:solid;
    -webkit-text-stroke-color:white;
    -webkit-text-stroke-width:2px;
    line-height: 100px;
}
.para
{
    float: left;
    clear: both;
    margin-left:25%;
    width: 400px;
    position:absolute;
    bottom: 223px;
    left: 7px;
    top: 320px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;

}
.button
{
    float: left;
    clear: both;
    margin-left:25%;
    width: 400px;
    position:absolute;
    cursor: pointer;

}

.button .btn1
{
    
    box-sizing: border-box;
    border: 2px solid orange;
    padding: 8px;
    background-color: #f0950c;
    color: white;
    border-radius: 10%;
    position: relative;
    top: 450px;


}
.button .btn1:hover
{
    background-color: #f0950c;
    transition: all 1s;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}
.button .btn2
{
    box-sizing: border-box;
    border: 2px solid orange;
    padding: 8px;
    background-color: transparent;
    color: #f0950c;
    border-radius: 10%;
    position: relative;
    top: 450px;


}
.button .btn2:hover
{
    background-color: #f0950c;
    transition: all 1s;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}
.sec1
{
    width: 25%;
    height: 300px;
    background-color: white;
    float: left;
    margin:50px 4%;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
    padding:40px;  
    font-family: Arial, Helvetica, sans-serif; 
}
.sec1 a 
{
    text-decoration: none;
    color:orange ;
}
.sec1:hover
{
    box-shadow: 0 1px 6px black ;
}
.sec1 p 
{
    opacity: 0.5;
}

.article
{
    width: 100%;
    height: 500px;
    background-color: white;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    
}
.article .list
{
    display: inline;
    float: lift;
    width: 50%;
}

.article ul 
{
    list-style: none;
    margin-top: 41px;
    margin-left: 264px;
    line-height: 54px;

}

.article ul li::before
{
    content: '\273D';
    margin-right: 10px;
    color: #f0950c;
}

.article img 
{
    float: right;
    width: 20%;
    margin-top: -369px;
    margin-right: 257px;
}
.contacts
{
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(../images/bg.jpg);
    overflow: hidden;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.contacts .cen 
{
    text-align: center;
    margin-top: 200px;
}
.contacts .cen p
{
    font-size: 30px;
    color: aliceblue;
}

.contacts .cen .sp
{
    color:darkgoldenrod;
}

.contacts .cen input
{
    border: 1px solid #f0950c;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: black;
}
.contacts .cen input:hover
{
    background-color: #f0950c;
    transition: all 1s;
    color: white;
    cursor: pointer;
}
.footer .foot p 
{
    padding: 10px;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

}
.name
{
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
